.navbar {
  min-width: 483px;
}

.form-element {
  margin: 5px;
}

.form-button {
  margin-top: 10px;
}

.form-horizontal .control-label {
  width: 100px;
}

.form-horizontal .controls {
  text-align: left;
  margin: 0 20px 0 120px;
}

.alert {
  margin: 0 5% 0 5%;
  padding: 8px 0 8px 10px;
}

.alert p {
  margin: 0 0 0 1%;
}

.alert strong {
 margin-right: 5px;
}

.modal {
  margin-top: 20px;
}

.modal-header {
  text-align: center;
  display: inline-block;
}

.modal-header img {
  margin: 0 100% 0 100%;
}

.message-container {
  height: 40px;
  margin: -10px 0 5px 0;
}

.error {
  background-color: #ffd3d3;
  pointer-events: none !important;
}

.error a {
  pointer-events: none !important;
}

.loading, .loading a {
  pointer-events: none !important;
}




.contacts {
  margin: 0 0 30px 0;
  display: block;
  overflow: hidden;
  min-width: 220px;
}

.contacts a {
  text-decoration: none;
}

.all-feeds {
  margin: 0 0 10px 20px;
}

.nav-list {
  padding: 0;
  display: inline-block;
}




.nav-list li {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px 18px;
  padding: 0;
}


.feed-entry {
  display: inline-block;
  width: 94%;
  padding: 2px 0 2px 5px;
  pointer-events: all;
  cursor: pointer;
  min-width: 190px;
}

.feed-entry:hover {
  background-color: #ffdffc;
}

.active {
  background-color: #08c;
  color: white;
  pointer-events: none;
}
.active a {
  color: white;
  pointer-events: none;
}
.active:hover {
  background-color: #08c;
  color: white;
}
.active a:hover {
  color: white;
}

.nav-list li a span {
  display: inline;
}

.status {
  width: 14px;
  height: 14px;
  line-height: 100%;
  margin: 4px 0 0 -15px;
  display: inline-block;
  /*margin-right: 5px;
  display:inline-block;*/
}

.status:hover {
  cursor: pointer;
}

/*
.feed-entry {
  min-width: 190px;
  display: inline-block;
}
*/

.icon-loading-small {
  background-image: url("/res/img/loading_14.gif");
  display: inline-block;
  height: 14px;
  line-height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left top;
}


.articles {
  width: 100%;
  margin: 0 0 0 1%;
}

.unread {
  border: 2px solid #eeffee;
  box-shadow: -1px -1px 10px #AAAAAA;
  background-color: #FFFFFF;
}

.unread-count {
  color: black;
  font-weight: 600;
  margin-left: 10px;
}

.version {
  float: right;
  margin: 20px 50px 0 0;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

