html,
body {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 300px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
html {
  overflow-y: hidden; /* Prevent scroll on narrow devices */
}
body {
  /*padding-top: 75px !important;*/
}

/*
 * REMOTESTORAGE WIDGET
 */
#remotestorage-widget {
  position: fixed !important;
  top: 3px !important;
  right: 20px !important;
}
.rs-bubble-text {
  margin-top: -1px;
}
.rs-bubble {
  min-width: 182px !important;
}
.rs-hidden {
  width: 75px !important;
  min-width: 75px !important;
}

/*
 * NAV
 */
.navbar {
  z-index: 1000;
  background-color: rgba(255,255,255,255);
  min-width: 300px;
  max-height: 50px;
  min-height: 50px;
  margin: 0;
}
.navbar-brand {
  color: #222;
  padding-right: 0;
  padding-left: 20px;
}
.offcanvas-button {
  height: 47px;
  padding: 2px 18px 3px 0px;
  border: none !important;
  z-index: 3000;
}
.offcanvas-button .span {
  margin-left: -20px;
}
.dogfeed-logo {
  display: inline-block;
  background: url('/res/img/dogfeed-logo.svg') center left no-repeat;
  width: 90px;
  height: 30px;
  background-size: 85px 25px;
  float: left;
  margin-top: -2px;
}


/*
 * STATUS MSGS
 */
.message-container {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  height: 20px;
  min-height: 20px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2000;
  background-color: rgba(255,255,255,0);
}
.message-container div {
  padding: 0 !important;
  transition: 1s;
}
.alert {
  background-color: rgba(255,255,255,255);
  border: none;
  margin: 0 auto 0 auto;
  padding: 0 5px 0 5px;
  min-width: 300px;
  transition: 1s;
  border-radius: 15px;
}
.butterbar {
  background-color: black;
}

/*
 * CONTENT CONTAINER
 */
.container {
  padding: 0 !important;
  margin: 0 !important;
}


/* LEFT */
.feed-list-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1000;
  background-color: rgba(250,250,250,255);
  padding: 0 !important;
}
.logo-bar {
  display: block;
  max-height: 50px;
  min-height: 50px;
  margin: 0;
  padding: 15px 0 0 15px;
}
.sidebar-container {
  padding: 10px 0 0 15px;
}
.feeds {
  text-align: left;
}
.feed-settings {
  text-align: left;
  margin-left: 0;
}
.feed-settings label {
  font-weight: normal !important;
}

/* RIGHT */
.opposite-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  padding: 0 !important;
}
.loading-header {
  text-align: center;
}
.loading-image {
  width: 20%;
  margin: 20% auto auto auto;
  opacity: 0.5;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.5;
  }
}
.loading-image {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 10;
}
.dogfeed-logo-large {
  display: block;
  background: url('/res/img/dogfeed-logo.svg') center left no-repeat;
  width: 200px;
  height: 70px;
  background-size: 170px 50px;
}

.opposite-sidebar {
  transition: 1s;
}
.slider-active {
  transition: 1s;
  left: 40%;
}
.hidden {
  display: none;
}




/**
 * CONTENT
 */
.content-container {
  padding: 0 5% 0 5%;
  margin-top: 0;
}





/*
 * FEED LISTS
 */
.feed-tile {
  padding: 0;
  margin: 2px;
  min-width: 135px;
  max-width: 135px;
  display: block;
  height: 135px;
  width: 135px;
  cursor: pointer;
  border: 3px solid white;
}
.feed-tile:hover {
  border: 3px solid rgb(66, 139, 202);
}
.feed-tile-even {
  background-color: #428BCA !important;
}
.feed-tile-odd {
  background-color: #84E900 !important;
}
.feed-tile-info {
  text-align: left;
  color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.feed-tile-loading {
  height: 79px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}
.feed-title-text {
  float: right;
  width: 110px;
  margin-left: 5px;
}
.feed-tile-count {
  position: relative;
  top: 0;
  left: 0;
}
.unread-count {
  display: inline-block;
  color: #F88017;
  font-weight: 900;
  min-width: 20px;
  max-width: 20px;
  text-align: center;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  white-space: normal;
}
.rounded {
  border-radius: 5px;
}
.all-feeds {
  margin: 0 0 10px 20px;
}
.feed-entry {
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  padding: 2px 0 2px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feed-name {
  display: inline-block;
  min-width: 170px;
}
.feed-entry:hover {
  background-color: #ffdffc;
}
.all-feeds {
  cursor: pointer;
  padding: 5px;
}
.all-feeds:hover {
  background-color: #ffdffc;
}
.active {
  background-color: #08c;
  color: white;
}
.active:hover {
  background-color: #08c;
  color: white;
}
.nav-list li a span {
  display: inline;
}
.icon-loading-small {
  background-image: url("/res/img/loading_14.gif");
  display: inline-block;
  height: 14px;
  line-height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left top;
}










/**
 * ARTICLES
 */
.article-page {
  margin-top: 25px;
}
.articles {
  margin: -13px 0 0 1%;
}
.article {
  max-width: 100%;
  padding: 10px 0 10px 0;
  margin: 0 auto 15px auto;
  border-bottom: 2px solid #efefef;
}
.article-content {
  width: 98%;
  margin: 0 auto 0 auto;
}
.article-title {
  padding: 10px 0 0 10px;
  border: 3px solid #F88017 !important;
  background-color: rgba(248, 128, 23, .5) !important;
  margin-top: 0;
}
.article-title:hover {
  cursor: pointer;
  text-decoration: underline;
  border-color: rgb(96, 169, 242) !important;
}
.panel-title {
  width: 90%;
}
.article-toggle {
  float: right;
  margin-top: 4px;
}
.article-info {
  font-size: 13px;
  margin: 15px auto 15px auto;
  font-family: "times";
}
.article-info p {
  margin: 0;
}
.article img {
  position: relative;
  max-width: 100%;
  height: auto;
}
.article p {
  font-style: normal;
}
.text {
  padding: 0 3% 0 6%;
}
.text-content {
  color: #555555;
}
.text-header {
  color: #AAAAAA;
  font-weight: 900;
}
h1 {
  font-size: 22px;
}
h2 {
  display: inline-block;
  color: black;
  font-size: 20px;
  margin-top: 0;
}
h4 {
  padding-left: 20px;
}
.articles-feed-info {
  margin-bottom: 20px;
}
span.feed-name {
  color: #222222;
  font-weight: 900;
}
span.feed-edit {
  float:right;
  padding: 0 2px 0 2px;
  background-color: #efefef;
  color: #888888;
  font-weight: 900;
}
span.feed-edit:hover {
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a h2:hover {
  text-decoration: underline;
}
h3 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
}
.mark-read, .mark-unread {
  float: right;
  padding: 1px 5px 1px 5px;
  background-color: #efefef;
  color: #888888;
  font-weight: 900;
  margin: -13px 30px 0;
  z-index: 4;
  pointer-events: auto;
  border: 1px solid black;
}
.mark-read, .mark-unread:hover {
  background-color: #ffffff;
  color: #222222;
  cursor: pointer;
  pointer-events: auto;
  z-index: 4;
  opacity: 1;
}
.mark-read:hover {
  border-color: #84E900;
}
.read {
  border-color: white;
  box-shadow: none;
  opacity: .4;
  z-index: 2;
  pointer-events: none;
  cursor: default;
}
.read a {
  pointer-events: none;
  cursor: default;
}
.article-audio {
  margin-left: 5%;
  margin-bottom: 2%;
}
.button-show-more {
  width: 100%;
  margin: 50px auto 50px auto;
}
.button-article-link {
  width: 100%;
}
.articles-loading {
  width: 50%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  background-color: rgba(255,255,255,0.1);
  color: white;
  font-weight: bold;
}
.modal-dialog {
  padding: 0 !important;
  width: 100%;
}
.modal-content {
  height: 100%;
}
.article-nav {
  text-align: center;
}
.article-nav li {
  margin: 0 5px 0 5px;
}
.modal {
  overflow-x: hidden !important;
}
.close {
  float: left !important;
}



@media screen and (max-width: 767px) {
  .slider-active {
    transition: 1s;
    left: 75%;
  }
}



















/*
 * CSS LOADING ANIMATION
 */

#facebookG{
width:40px;
margin: 40px auto;
}
.facebook_blockG{
background-color:#aaaaaa;
border:1px solid #999999;
float:left;
height:28px;
margin-left:2px;
width:7px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.9s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.57s;
-webkit-animation-delay:0.57s;
-ms-animation-delay:0.57s;
-o-animation-delay:0.57s;
animation-delay:0.57s;
}

#blockG_2{
-moz-animation-delay:0.76s;
-webkit-animation-delay:0.76s;
-ms-animation-delay:0.76s;
-o-animation-delay:0.76s;
animation-delay:0.76s;
}

#blockG_3{
-moz-animation-delay:0.95s;
-webkit-animation-delay:0.95s;
-ms-animation-delay:0.95s;
-o-animation-delay:0.95s;
animation-delay:0.95s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}

