
.form-element {
  margin: 5px;
}

.form-button {
  margin-top: 10px;
}

.message-container {
  height: 40px;
  margin: -10px 0 0 0;
}

.alert {
  margin: 0 5% 0 5%;
  padding: 8px 0 8px 10px;
}

.alert p {
  margin: 0 0 0 1%;
}

.alert strong {
 margin-right: 5px;
}

.modal {
  margin-top: 30px;
}

.nav-list {
  padding-left: 0;
}

.nav-list li {
  display: inline-block;
  margin: 0 50px 0 0;
}

.nav-list li a {
  padding: 3px;
}

.status {
  width: 18px;
  height: 14px;
  line-height: 14px;
  display:inline-block;
}

.feed-entry {
  min-width: 190px;
  display: block;
}

.loading-small {
  background-image: url("/res/img/loading_14.gif");
  display: inline-block;
  height: 14px;
  line-height: 14px;
  background-repeat: no-repeat;
}

.contacts {
  margin: 0 0 30px 0;
  display: block;
}

.error {
  background-color: #ffd3d3;
}

