<!DOCTYPE html>
<html ng-app="dogfeed">
  <head>
    <title>dogfeed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- build:css res/css/bootstrap.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css?v=3.0.0" />
    <!-- endbuild -->
    <!-- build:css res/css/bootstrap-theme.min.css -->
    <!--<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css?v=3.0.0" />
    -->
    <!-- endbuild -->
    <!-- build:css res/css/app.min.css -->
    <link rel="stylesheet" href="res/css/main.css?v=0.1.3" />
    <!-- endbuild -->
  </head>

  <body>
    <div id="remotestorage-connect" ng-controller="remoteStorageCtrl"></div>

    <nav>
      <div class="navbar navbar-default" ng-controller="titlebarCtrl">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="res/img/dogfeed-logo.svg" width="115" alt="Dogfeed" />
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="" ng-click="addFeed()">
                  <span class="glyphicon glyphicon-plus" alt="Add Feed"></span> Add Feed
                </a>
              </li>
              <li>
                <a href="" ng-click="sockethubSettings()">
                  <span class="glyphicon glyphicon-cog"></span> Settings
                </a>
              </li>
            </ul>
            <div class="version">
              <p>version 0.1.4<br />
                <a target="_blank" href="https://github.com/silverbucket/dogfeed/issues/">
                  feedback and bug reports
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="message-container">
      <div message></div>
    </div>
    <ng-view></ng-view>
    <div sockethub-settings></div>


    <!-- feeds -->
    <script type="text/ng-template" id="feeds.html">
      <section id="talk" class="page">
        <div class="container">
          <div class="row" ng-controller="feedCtrl">

            <div class="col-md-3">
              <div class="feed-controls">
                <form name="quickSettings" class="form-horizontal" novalidate>
                    <label for="showRead" style="width: 125px; margin-right: 5px;"
                           class="control-label">Show Read Articles</label>
                    <input type="checkbox" name="showRead" ng-model="model.settings.showRead" />
                </form>
              </div>
              <feed-list class="feeds" feeds="model.feeds" settings="model.settings">Feeds</feed-list>
            </div>


            <div class="col-md-9 article-text" ng-show="(model.feeds.articles.length == 0) && (model.feeds.infoArray.length > 0)"><p>loading articles...</p><img src="res/img/loading_14.gif" /></div>

            <articles class="col-md-8 articles" feeds="model.feeds" settings="model.settings">
            </articles>
          </div>
        </div>
      </section>
    </script>


    <!-- add feed modal window -->
    <div id="modalAddFeed" class="modal fade" ng-controller="addFeedCtrl">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Feed</h4>
          </div>
          <div class="modal-body">
            <div class="message-container">
              <div message></div>
            </div>
            <form name="addFeed" role="form" novalidate>
              <input type="url" class="required form-control" name="url" placeholder="Enter URL..." ng-model="url" autofocus="autofocus" required />
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-click="add(url)" ng-disabled="addFeed.$invalid || adding">
              <span class="icon-plus" alt="Add Feed"></span> Add Feed</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- feed settings modal window -->
    <div id="modalFeedSettings" ng-controller="feedCtrl" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Feed settings</h4>
          </div>
          <div class="modal-body">
            <form name="feedSettings" role="form" novalidate>
              <div class="form-group">
                <label for="url">URL</label>
                <span ng-bind="model.feeds.edit"></span>
              </div>
              <div class="form-group">
                <label for="displayname">Display Name</label>
                <div class="controls">
                  <input type="text" class="required form-control" name="username" placeholder="Enter display name..." ng-model="model.feeds.info[model.feeds.edit].name">
                </div>
              </div>
              <p></p>
          </div>
          <div class="modal-footer">
              <div class="form-group">
                <button type="default" ng-click="saveFeedSettings(model.feeds.edit)" class="btn btn-primary" ng-disabled="saving">Save</button>
                  &nbsp;
                <button ng-click="cancelFeedSettings()" class="btn btn-action" ng-disabled="saving">Cancel</button>
                  &nbsp;
                <button style="float: left;" ng-click="deleteFeed(model.feeds.edit)" ng-disabled="saving" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js res/js/jquery.min.js -->
    <script src="vendor/jquery.min.js?v=1.10.1"></script>
    <!-- endbuild -->
    <!-- build:js res/js/angular.min.js -->
    <script src="vendor/angular.min.js?v=1.0.7"></script>
    <!-- endbuild -->
    <!-- build:js res/js/bootstrap.min.js -->
    <script src="vendor/bootstrap/js/bootstrap.min.js?v=3.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage.min.js -->
    <script src="vendor/remotestorage/remotestorage.min.js?v=0.8.1"></script>
    <!-- endbuild -->
    <!-- build:js res/js/sockethub-client.min.js -->
    <script src="vendor/sockethub-client/sockethub-client.js?v=0.1.3"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage-modules.min.js -->
    <script src="vendor/remotestorage/remotestorage-sockethub.js?v=0.1.3"></script>
    <script src="vendor/remotestorage/remotestorage-articles.js?v=0.1.3"></script>
    <script src="vendor/remotestorage/remotestorage-rss.js?v=0.1.3"></script>
    <!-- endbuild -->
    <!-- build:js res/js/app.min.js -->
    <script src="res/js/ngRemoteStorage.js?v=0.1.3"></script>
    <script src="vendor/sockethub-client/angular/ngSockethubClient.js?v=0.1.3"></script>
    <script src="vendor/sockethub-client/angular/ngSockethubRemoteStorage.js?v=0.1.3"></script>
    <script src="res/js/ngRSS.js?v=0.1.3"></script>
    <script src="res/js/dogfeed.js?v=0.1.3"></script>
    <!-- endbuild -->
  </body>
</html>
