<!DOCTYPE html>
<html ng-app="dogfeed">
  <head>
    <title>dogfeed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- build:css res/css/bootstrap.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css?v=3.0.0" />
    <!-- endbuild -->
    <!-- build:css res/css/bootstrap-theme.min.css -->
    <!--<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css?v=3.0.0" />
    -->
    <!-- endbuild -->
    <!-- build:css res/css/app.min.css -->
    <link rel="stylesheet" href="res/css/main.css?v=0.2.0" />
    <!-- endbuild -->
  </head>

  <body>

    <!-- feeds list slider -->
    <div class="slider-left scrollable">
      <nav>
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
            </div>
          </div>
        </div>
      </nav>

      <div class="slider-content">
        <div class="feed-list-container" ng-controller="feedCtrl">
          <div class="feed-controls">
            <form name="quickSettings" class="form-horizontal" novalidate>
                <label for="showRead" style="width: 125px; margin-right: 5px;"
                       class="control-label">Show Read Articles</label>
                <input type="checkbox" name="showRead" ng-model="feeds.settings.showRead" />
            </form>
          </div>

          <feed-list class="feeds" test="test" feeds="feeds" settings="settings">Feeds</feed-list>
        </div>

        <footer>
          <div class="credits">
            dogfeed version 0.2.0<br />
            <a target="_blank" href="https://github.com/silverbucket/dogfeed/issues/">feedback and bug reports</a>
          </div>
        </footer>
      </div>
    </div>

    <!-- main content -->
    <div id="content" class="content scrollable">
      <div id="remotestorage-connect" ng-controller="remoteStorageCtrl"></div>

      <nav>
        <div class="navbar navbar-default" ng-controller="titlebarCtrl">
          <div class="container">
            <div class="navbar-header">
              <div id="open-left" ng-click="showFeedList()"></div>
              <a href="/#/feeds">
                <img class="navbar-brand" src="res/img/dogfeed-logo.svg" height="25" alt="Dogfeed"/>
              </a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li>
                  <a href="/#/feeds/add">
                    <span class="glyphicon glyphicon-plus" alt="Add Feed"></span>
                  </a>
                </li>
                <li>
                  <a href="/#/settings/sockethub">
                    <span class="glyphicon glyphicon-cog"></span>
                  </a>
                </li>
                <li>
                  <a href="/#/about">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="message-container">
        <div message></div>
      </div>

      <div class="ng-view">
        <ng-view></ng-view>
      </div>

    </div>



    <script type="text/ng-template" id="main.html">
      <section class="page" ng-controller="mainCtrl">
          <div class="row">
            <div ng-show="isConnected()">
              <div ng-controller="feedCtrl">
                <articles class="col-md-8" feeds="feeds" settings="settings">
                </articles>
              </div>
            </div>
            <div ng-show="isConnecting() || !delayed()">
              <loading></loading>
            </div>
            <div ng-show="!isConnected() && !isConnecting() && delayed()">
              <welcome></welcome>
            </div>
          </div>
      </section>
    </script>

    <script type="text/ng-template" id="loading.html">
      <div class="text">
        <h2 class="text-header">Dogfeed is loading...</h2>
        <div class="text-content">
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="welcome.html">
      <div class="text">
        <h2 class="text-header">Welcome to Dogfeed!</h2>
        <div class="text-content">
          <p>It seems that this is your first time using Dogfeed. Dogfeed is an unhosted RSS/Atom feed reader built on Sockethub and remoteStorage</p>
          <p>Connect your storage using the remoteStorage widget in the upper right corner, or <a href="http://remotestorage.io/get" target="_blank">visit the remoteStorage website</a> to register for an account or learn how to set up your own storage server.</p>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="sockethub-settings.html">
      <div sockethub-settings></div>
    </script>

    <!-- add feed form -->
    <script type="text/ng-template" id="add-feed.html">
      <div class="add-feed" ng-controller="addFeedCtrl">
          <h4>Add Feed</h4>
          <form class="inline-form" name="addFeed" role="form" novalidate>
            <div class="form-group">
              <input type="url" class="required form-control" name="url" placeholder="Enter URL..." ng-model="url" autofocus="autofocus" required />
            </div>
            <button class="btn btn-primary" ng-click="add(url)" ng-disabled="addFeed.$invalid || adding">
            <span class="icon-plus" alt="Add Feed"></span> Add Feed</button>
          </form>
      </div>
    </script>

    <script type="text/ng-template" id="about.html">
      <div class="text">
        <h2 class="text-header">About Dogfeed</h2>
        <div class="text-content">
          <p>Dogfeed is an
          <a href="http://unhosted.org" target="_blank">Unhosted</a>
          newsreader that allows you to access your news feeds from anywhere you
          want on anything that has a decent web browser - on your phone, desktop,
          tablet or Smart TV.</p>

          <p>Dogfeed is
          <a href="http://github.com/silverbucket/dogfeed" target="_blank">open source</a>,
          so you can improve it, translate it, or use parts of it to build your own
          applications. It leverages client-side javascript for all the
          application logic, and
          <a href="http://sockethub.org" target="_blank">Sockethub</a> for server
          independant, server-side functionality, while storing all your data to
          your private
          <a href="http://remotestorage.io" target="_blank">remoteStorage</a>
          instance.</p>

          <p>If you have used news reader software before, just add your favorite
          news feeds and Dogfeed away. If you are new to this, read the
          _Quickstart Manual_, watch a _demonstration video_ or just try - its
          pretty easy and really there is not a lot that can break.</p>

          <p>(If this is not the first time you are using Dogfeed, _go to
          Troubeshooting_)</p>

          <p>Dogfeed is developed and maintained by
          <a href="https://silverbucket.net" target="_blank">Nick
          Jennings</a> and was made
          possible with a grant from the
          <a href="http://nlnet.net" target="_blank">NLnet foundation</a>.</p>
        </div>
      </div>
    </script>

    <!-- feed settings modal window -->
    <div id="modalFeedSettings" ng-controller="feedSettingsCtrl" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Feed settings</h4>
          </div>
          <div class="modal-body">
            <form name="feedSettings" role="form" novalidate>
              <div class="form-group">
                <label for="url">URL</label>
                <span ng-bind="feeds.edit"></span>
              </div>
              <div class="form-group">
                <label for="displayname">Display Name</label>
                <div class="controls">
                  <input type="text" class="required form-control" name="username" placeholder="Enter display name..." ng-model="feeds.info[feeds.edit].name">
                </div>
              </div>
              <p></p>
          </div>
          <div class="modal-footer">
              <div class="form-group">
                <button type="default" ng-click="saveFeedSettings(feeds.edit)" class="btn btn-primary" ng-disabled="saving">Save</button>
                  &nbsp;
                <button ng-click="cancelFeedSettings()" class="btn btn-action" ng-disabled="saving">Cancel</button>
                  &nbsp;
                <button style="float: left;" ng-click="deleteFeed(feeds.edit)" ng-disabled="saving" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js res/js/jquery.min.js -->
    <script src="vendor/jquery.min.js?v=1.10.1"></script>
    <!-- endbuild -->
    <!-- build:js res/js/angular.min.js -->
    <script src="vendor/angular.min.js?v=1.0.7"></script>
    <!-- endbuild -->
    <!-- build:js res/js/bootstrap.min.js -->
    <script src="vendor/bootstrap/js/bootstrap.min.js?v=3.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/snap.min.js -->
    <script src="vendor/snap.min.js?v=1.9.2"></script>
    <!-- endbuild -->
    <!-- build:js res/js/matchMedia.js -->
    <script src="vendor/matchMedia.js?v=0.0.1"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage.min.js -->
    <script src="vendor/remotestorage/remotestorage.min.js?v=0.8.2"></script>
    <!-- endbuild -->
    <!-- build:js res/js/sockethub-client.min.js -->
    <script src="vendor/sockethub-client/sockethub-client.js?v=0.2.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage-modules.min.js -->
    <script src="vendor/remotestorage/remotestorage-sockethub.js?v=0.2.0"></script>
    <script src="vendor/remotestorage/remotestorage-articles.js?v=0.2.0"></script>
    <script src="vendor/remotestorage/remotestorage-feeds.js?v=0.2.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/app.min.js -->
    <script src="vendor/sockethub-client/angular/ngSockethubClient.js?v=0.2.0"></script>
    <script src="vendor/sockethub-client/angular/ngSockethubRemoteStorage.js?v=0.2.0"></script>
    <script src="vendor/angular-shared/ngRemoteStorage.js?v=0.0.1"></script>
    <script src="vendor/angular-shared/ngMessages.js?v=0.0.1"></script>
    <script src="vendor/angular-shared/ngCommandQueue.js?v=0.0.1"></script>
    <script src="res/js/feeds/feeds.js?v=0.2.0"></script>
    <script src="res/js/dogfeed.js?v=0.2.0"></script>
    <!-- endbuild -->
  </body>
</html>
