<!DOCTYPE html>
<html ng-app="dogfeed">
  <head>
    <title>dogfeed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- build:css res/css/bootstrap.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css?v=3.0.0" />
    <!-- endbuild -->
    <!-- build:css res/css/bootstrap-theme.min.css -->
    <!--<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css?v=3.0.0" />
    -->
    <!-- endbuild -->
    <!-- build:css res/css/app.min.css -->
    <link rel="stylesheet" href="res/css/main.css?v=0.2.0" />
    <!-- endbuild -->
  </head>

  <body>

    <!-- slider -->
    <div class="sliders">
      <div class="slider-left">

        <div class="settings" ng-click="showSettings()">
          <span class="glyphicon glyphicon-cog"></span> Settings
        </div>

        <div class="add-feed" ng-click="addFeed()">
          <span class="glyphicon glyphicon-plus" alt="Add Feed"></span> Add Feed
        </div>

        <ul id="feed-list" class="feed-list scrollbox"></ul>
        <p>lorem ipsum and stuff</p>

        <footer>
          <div class="credits">
            dogfeed version 0.2.0<br />
            <a target="_blank" href="https://github.com/silverbucket/dogfeed/issues/">feedback and bug reports</a>
          </div>
        </footer>

      </div>
    </div>

    <!-- main content -->
    <div id="content" class="content">
      <div id="remotestorage-connect" ng-controller="remoteStorageCtrl"></div>

      <nav>
        <div class="navbar navbar-default" ng-controller="titlebarCtrl">
          <div class="container">

            <div class="navbar-header">
              <a href="#" id="open-left" ng-click="showFeedList()"></a>
              <img class="navbar-brand" src="res/img/dogfeed-logo.svg" width="115" alt="Dogfeed" />
            </div>

            <div>
              <ul class="nav navbar-nav">
                <li>
                  <a href="/#/feeds/add">
                    <span class="glyphicon glyphicon-plus" alt="Add Feed"></span>
                  </a>
                </li>
                <li>
                  <a href="/#/settings/sockethub">
                    <span class="glyphicon glyphicon-cog"></span>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </nav>

      <div class="message-container">
        <div message></div>
      </div>

      <ng-view></ng-view>

    </div>




<!--
<a href="#/">[TEST 1]</a>
<a href="#/?feed=http://blog.silverbucket.net/rss">[TEST 2]</a>
<a href="#/?feed=http://guardian.com/rss">[TEST 2]</a>
<a href="#/?feed=http://guardian.comd/rss">[TEST 3]</a>
<a href="#/?feed=https://unhosted.org/adventures/feed.rss">[TEST 4]</a>
-->

    <script type="text/ng-template" id="sockethub-settings.html">
      <div sockethub-settings></div>
    </script>

    <!-- add feed modal window -->
    <script type="text/ng-template" id="add-feed.html">
      <div class="add-feed" ng-controller="addFeedCtrl">
          <h4>Add Feed</h4>
          <form class="inline-form" name="addFeed" role="form" novalidate>
            <div class="form-group">
              <input type="url" class="required form-control" name="url" placeholder="Enter URL..." ng-model="url" autofocus="autofocus" required />
            </div>
            <button class="btn btn-primary" ng-click="add(url)" ng-disabled="addFeed.$invalid || adding">
            <span class="icon-plus" alt="Add Feed"></span> Add Feed</button>
          </form>
      </div>
    </script>

    <!-- feed settings modal window -->
    <div id="modalFeedSettings" ng-controller="feedSettingsCtrl" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Feed settings</h4>
          </div>
          <div class="modal-body">
            <form name="feedSettings" role="form" novalidate>
              <div class="form-group">
                <label for="url">URL</label>
                <span ng-bind="feeds.edit"></span>
              </div>
              <div class="form-group">
                <label for="displayname">Display Name</label>
                <div class="controls">
                  <input type="text" class="required form-control" name="username" placeholder="Enter display name..." ng-model="feeds.info[feeds.edit].name">
                </div>
              </div>
              <p></p>
          </div>
          <div class="modal-footer">
              <div class="form-group">
                <button type="default" ng-click="saveFeedSettings(feeds.edit)" class="btn btn-primary" ng-disabled="saving">Save</button>
                  &nbsp;
                <button ng-click="cancelFeedSettings()" class="btn btn-action" ng-disabled="saving">Cancel</button>
                  &nbsp;
                <button style="float: left;" ng-click="deleteFeed(feeds.edit)" ng-disabled="saving" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js res/js/jquery.min.js -->
    <script src="vendor/jquery.min.js?v=1.10.1"></script>
    <!-- endbuild -->
    <!-- build:js res/js/angular.min.js -->
    <script src="vendor/angular.min.js?v=1.0.7"></script>
    <!-- endbuild -->
    <!-- build:js res/js/bootstrap.min.js -->
    <script src="vendor/bootstrap/js/bootstrap.min.js?v=3.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/snap.min.js -->
    <script src="vendor/snap.min.js?v=1.9.2"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage.min.js -->
    <script src="vendor/remotestorage/remotestorage.min.js?v=0.8.2"></script>
    <!-- endbuild -->
    <!-- build:js res/js/sockethub-client.min.js -->
    <script src="vendor/sockethub-client/sockethub-client.js?v=0.2.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/remotestorage-modules.min.js -->
    <script src="vendor/remotestorage/remotestorage-sockethub.js?v=0.2.0"></script>
    <script src="vendor/remotestorage/remotestorage-articles.js?v=0.2.0"></script>
    <script src="vendor/remotestorage/remotestorage-feeds.js?v=0.2.0"></script>
    <!-- endbuild -->
    <!-- build:js res/js/app.min.js -->
    <script src="vendor/sockethub-client/angular/ngSockethubClient.js?v=0.2.0"></script>
    <script src="vendor/sockethub-client/angular/ngSockethubRemoteStorage.js?v=0.2.0"></script>
    <script src="vendor/angular-shared/ngRemoteStorage.js?v=0.0.1"></script>
    <script src="vendor/angular-shared/ngMessages.js?v=0.0.1"></script>
    <script src="vendor/angular-shared/ngCommandQueue.js?v=0.0.1"></script>
    <script src="res/js/feeds/feeds.js?v=0.2.0"></script>
    <script src="res/js/dogfeed.js?v=0.2.0"></script>
    <!-- endbuild -->
  </body>
</html>
